body {
  margin: 0px;
  padding: 0px;
  font-family: 'Prompt', sans-serif;
}
.all {
  display: flex;
  flex-direction: column;
}
header {
  height: auto;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
div.help {
  background-color: rgb(248, 248, 248);
  height: 4vh;
}
.p2 {
  display: inline-block;
  float: right;
  padding-right: 6px;
  font-size: 15px;
  margin-top: 5px;

  font-weight: 100;
}
.mainhead {
  height: 6vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-left: 3vw;
}
.mainhead1 {
  flex-grow: 1;
}
.mainhead2 {
  flex-grow: 10;
}

.mainhead3 {
  flex-grow: 1;
  margin-bottom: 0px;
}
.h4 {
  display: inline;
  font-weight: 300;
  padding: 0 7px;
}
.menu {
  margin-top: 1.5vh;
  margin-left: 50%;
  transform: translate(-40%);
}
.search {
  margin-top: 1.2vh;
}
input[type='text'] {
  border: 0.2px solid;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}
.bhead {
  background-color: rgb(248, 248, 248);
  height: 7vh;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.p1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 100%;
  padding: 0 50px;
}
.main img {
  width: 100%;
}
.connectTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px 0px 100px;
}
.con_title {
  text-align: center;
}
.connectTitle button {
  width: 200px;
  height: 45px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 100px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: 'Helvetica Neue W31', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
.connectTitle .con_title .title_1 {
  font-size: 48px;
  font-weight: 500;
}
.hitcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.rootHit {
  margin: 150px 0px;
}
.hitTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.666667;
  margin-bottom: 20px;
}
.hitcontainer button{
  width: 170px;
  background-color: aliceblue;
  border: none;
  border-radius: 50px;
  height: 50px;
  position: relative;
  bottom: 100px;
  left: 20px;
  margin-left: 20px;
}
.hitcontainer img{
  height: 95vh;
  width: 47vw;
}
.hitcontainer .img2{
  height: 95vh;
  width: 95vw;
}

footer {
  background-color: black;
  color: aliceblue;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
